
.calculator-container {
    width: 400px;
    height: 600px;
    left: 0;
    top: 0;
    position: absolute;
    background: #EAEAEA;
    border-radius: 10px;
    margin: 20px;
}

.display {
    display: flex;
    width: 372px;
    height: 151px;
    left: 14px;
    top: 17px;
    position: absolute;
    background: #FFFAFA;
    border-radius: 10px;
    text-align: right;
    font-size: 80px;
    font-family: Inter, serif;
    font-weight: 400;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

}

.button-container {
    width: 353px;
    height: 434px;
    left: 15px;
    top: 190px;
    position: absolute;
}

.button-row-container {
    width: 353px;
    height: 68px;
    display: flex;
    margin: 10px;
    align-items: center;
}

.button {
    width: 70px;
    height: 68px;
    text-align: center;
    color: black;
    background-color: rgba(100, 164, 222, 0.5);
    font-size: 36px;
    font-family: Inter, serif;
    font-weight: 600;
    word-wrap: break-word;
    margin: 10px;
    border-radius: 10px;
}

.button:hover {
    background: #7a98ff;
}

.button:active {
    background: #2a5dff;
    transition-duration: 0s;
}

.equals {
    background-color: #84e77c;
}

.equals:hover {
    background-color: rgba(79, 168, 35, 0.6);
}

.equals:active {
    background-color: green;
}